@import url(gm_sidebar.css);

.gm_sidebar_rh { right:0; position:fixed; top:25%; z-index:1001; }

/* IE6 hack */
* html .gm_sidebar_rh { 
	position: absolute !important;
}

#gm_sidebar_popup {
    top:25%;
    width: 250px;
}